

/*navbar-section*/

.first-section{
  height:100vh;
  width: 100%;
  overflow: hidden;
  background-image: url(./elegant-smiling-woman-glasses-striped-shirt-using-laptop-computer-while-siting-table-kitchen_171337-13030.jpg);
  background-size: cover;
  z-index: 1000000;
}
@media screen and (min-width: 200px) and (max-width: 576px){
  .first-section{
     background-position: center;
      } 
}
@media screen and (min-width: 577px) and (max-width: 991px){
  .first-section{
      background-position: center;
      } 
}
#check{
  display: none;
}
label #btn,
label #cancle{
  position: absolute;
  cursor: pointer;
  background: #042331;
  color:#fff;
  border-radius: 5px;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color:#fff;
  padding: 6px 12px;
  transition: all 0.5s;
}
#cancle{
  z-index: 1111;
  left: -196px;
  top:17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all 0.5s;
}
 li a{
  text-decoration: none;
 }
/*side navbar*/

.sidebar{
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color:#042331;
  transition: all 0.5s ease;
  margin-bottom: 10px;
  z-index: 100000;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancle{
  left: 245px;
}
#check:checked ~ section{
  margin-left: 250px;
}
.sidebar header img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.sidebar header{
  font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  background: #063146;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: #fff;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px 0.4s;
  border-bottom: 1 0.4ms;
  transition: 0.4s;
}
.sidebar ul a i{
  margin-right: 16px;
}
  /*hover effect*/

  ul li:hover a{
  padding-left: 50px;
  background-color: #6096B4;
  }
 /*social links*/

 .social-links i{
  padding: 10px;
  margin-left: 16px;
  margin-top: 3px;
  padding-bottom: 5px;
  color: #fff;
  background:#063146;
  font-size: 20px;
  transition: font-size 0.5s;
 }
 /*icon hover effect*/

 .social-links i:hover{
  background: #6096B4;
  font-size: 35px;
  
 }
 .sidebar header p{
  padding: 15px;
 }
.icon-color{
    color:white;
    padding-left: 10px
}

.side-navbar{
  width: 9vw;
}
.nav-pills li:hover{
  background-color:#6096B4;
  border-radius: 6px;
}
.my-name{
  padding-top: 17vw;
  padding-left: 16vw;
}
@media only screen and (min-width: 200px) and (max-width: 576px) {
  .my-name{
    padding-top: 50vw;
    padding-left: 3vw;
  }
}
/* about section */

.btn.btn-custom {
  box-shadow: inset 0 0 0 0 #6096B4;
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
}

.btn.btn-custom:hover {
  color: #20212B;
  box-shadow: inset 0 0 0 30px #6096B4;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}
.btn.btn-custom12 {
  box-shadow: inset 0 0 0 0 white;
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  border: 2px solid #6096B4;
  margin-left: 92px;
}
@media only screen and (min-width: 200px) and (max-width: 576px){
  .btn.btn-custom12{
    margin-left: 45px;
  }
}
.btn.btn-custom12:hover {
  /* color: #20212B; */
  box-shadow: inset 0 0 0 30px white;
  color: black;
  
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
  color: black;
}

/* fact section */
@media only screen and (min-width: 200px) and (max-width: 576px)  {
  .fact-12{
   width: 300px;
  }
}

/*resume section*/

ul li{
  list-style-type:disc;
}
/*services section*/
/* footer section */
.last-se{
  background: rgba(0,0,0,0.7)url(./pexels-karolina-grabowska-4968531.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  
}
/* portfolio section */
/* first demo */
.col-image{
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color:#6096B4;
  overflow: hidden;
  opacity: .9;
  width: 0;
  height: 100%;
  transition: .4s ease;
}

.col-image:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
/* second demo */
.col-image2 {
  position: relative;
  width: 50%;
}

.image2 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6096B4;
  opacity: .9;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .4s ease;
}

.col-image2:hover .overlay2 {
  width: 100%;
}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* fourth demo */
.col-image3 {
  position: relative;
  width: 50%;
}

.image3 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay3 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #6096B4;
  opacity: .9;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.col-image3:hover .overlay3 {
  bottom: 0;
  height: 100%;
}

.text3 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* fifth */
.col-image4 {
  position: relative;
  width: 50%;
}

.image4 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6096B4;
  opacity: .9;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.col-image4:hover .overlay4 {
  height: 100%;
}

.text4 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* contact section */
.loca-sec{
  background-color: #def1fb;
  color: #6096B4;
}
.loca-sec:hover{
  background-color:#6096B4;
  color: white;
}